# useDynLib(BiRankFraud)
exportPattern("^[[:alpha:]]+")
export(BiRankFr)
exportClasses(BiRankFr)
exportClasses(BiRankFrSubSetParties)
exportClasses(BiRankFrSubSetClaims)
S3method(print, BiRankFr)
importFrom("Matrix", "t", "crossprod", "rowSums", "colSums", "sparseMatrix")
importFrom("stats", "runif")
importFrom("utils", "head")
